DISCORD_TOKEN=
DISCORD_CLIENT_ID=m
# Optional: nur setzen für schnelle Registrierung in einem einzelnen Server (sonst global, dauert bis zu 1h)
DISCORD_GUILD_ID=

DIPUL_WFS_URL=https://uas-betrieb.de/geoservices/dipul/wfs
DIPUL_WMS_URL=https://uas-betrieb.de/geoservices/dipul/wms

# Wie viele Google-Maps-Links pro Nachricht automatisch geprüft werden
MAX_LINKS_PER_MESSAGE=3
